/* || VARIABLES */

:root {
    /* COLORS */
    --BGCOLOR: #212f51;
    --BGCOLOR-DARK: #0F172A;
    --FGCOLOR: lightblue;
    --BORDER-COLOR: #FFF;
    --COLOR: #FFF;
    --ERROR: firebrick;
    --ERROR-BACK: lightpink;
    --INACTIVE: lightgray;
    --LINK-COLOR: blue;
    --LINK-COLOR-DARK-BG: whitesmoke;
    /* --LINK-HOVER: rgba(245, 245, 245, 0.9); */
    --LINK-HOVER: rgba(110, 110, 110, 0.9);
    --NOTE-BGCOLOR: hsla(240, 64%, 27%, 0.65);
    --STATUS-COMPLETE: limegreen;
    --STATUS-OPEN: firebrick;
    --TABLE-BGCOLOR: #FFF;
    --TABLE-COLOR: #000;
    --INPUT-INVALID: #F00;
    --DR-BORDER-COLOR: blue;
}

/* || UTILITY CLASSES */
.errmsg {
    display: inline-block;
    background-color: var(--ERROR-BACK);
    color: var(--ERROR);
    padding: 0.25em;
    margin-bottom: 0.5em;
}

.errmsg a:any-link {
    color: var(--ERROR);
    text-decoration: underline;
}
.resmsg {
    display: inline-block;
    background-color: var(--ERROR-BACK);
    color: var(--ERROR);
    padding: 0.25em;
    margin-bottom: 0.5em;
}

.resmsg a:any-link {
    color: var(--ERROR);
    text-decoration: underline;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

.nowrap {
    white-space: nowrap;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

a {
    text-decoration: none;
}

a:any-link {
    color: var(--LINK-COLOR);
    /* color: var(--LINK-COLOR-DARK-BG) */
}

a:hover,
a:focus-visible {
    color: var(--LINK-HOVER);
}

a-dark-bg {
    text-decoration: none;
}

a-dark-bg:any-link {
    color: var(--LINK-COLOR-DARK-BG);
}

a-dark-bg:hover,
a-dark-bg:focus-visible {
    color: var(--LINK-HOVER);
}

/* .navbar {
    background-color: var(--BGCOLOR);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navMenu {
    list-style: none;
    display: flex;
}

.link {
    color:  var(--LINK-COLOR-DARK-BG);
    text-decoration: none;
    padding: 10px;
    font-size: 1.4rem;
} */

/* Changing the color */
.link:hover {
    color: var(--LINK-HOVER);
}
.form__action-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5em;
    position: absolute;
    right: 0.5em;
}

/* .form__input--incomplete {
    border: 1px solid var(--INPUT-INVALID);
    outline: 1px solid var(--INPUT-INVALID);
} */

/* || DASH HEADER, CONTAINER & FOOTER */

.dash-header {
    position: sticky;
    top: 0;
    z-index: 1;
    color: var(--FGCOLOR);
    background-color: var(--BGCOLOR);
    padding: 0 0.5em;
    border-bottom: 1px solid var(--BORDER-COLOR);
}

.dash-header__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.dash-header__container--small {
    max-width: 800px;
}

.dash-header__brand {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0.5em;
}
.dash-header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 0.5em;
}
.ag-grid_div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 1px;
}
.ag-grid_button {
    padding: 2px;
    height: 70%;
    font-size: 11px;
}
.dash-container {
    padding: 0.75em 0.5em 0.5em;
    flex-grow: 1;
}

.dash-footer {
    font-size: 0.875rem;
    position: sticky;
    bottom: 0;
    z-index: 1;
    color: var(--FGCOLOR);
    background-color: var(--BGCOLOR);
    padding: 0.25em;
    border-top: 1px solid var(--BORDER-COLOR);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1em;
}

.dash-footer__button {
    font-size: 0.875rem;
    width: auto;
    height: auto;
}
/* .form__input--incomplete {
    border: 1px solid var(--INPUT-INVALID);
    outline: 1px solid var(--INPUT-INVALID);
} */

/* || SITE HEADER, CONTAINER & FOOTER */

.site-header {
    position: sticky;
    top: 0;
    z-index: 1;
    color: var(--FGCOLOR);
    background-color: var(--BGCOLOR);
    padding: 0 0.5em;
    border-bottom: 1px solid var(--BORDER-COLOR);
}

.site-header__container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.site-header__container--small {
    max-width: 800px;
}

.site-header__nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 0.5em;
}

.ag-grid_div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 0.5em;
    padding: 1px;
}

.ag-grid_button {
    padding: 2px;
    height: 70%;
    font-size: 11px;
}

.site-container {
    padding: 0.75em 0.5em 0.5em;
    flex-grow: 1;
}

.site-footer {
    font-size: 0.875rem;
    position: sticky;
    bottom: 0;
    z-index: 1;
    color: var(--FGCOLOR);
    background-color: var(--BGCOLOR);
    padding: 0.5em;
    border-top: 1px solid var(--BORDER-COLOR);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 1em;
}

.site-footer__button {
    font-size: 0.875rem;
    width: auto;
    height: auto;
}
th,
td {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.td-input {
    display: table-cell;
    width: 100%;
    border:0px;
    padding: 0px;
}
input {
    padding: 0px;
    width:100%;
    border: 0px;
    text-align: center;
}
.user-tip {
    white-space: nowrap;
    font-size: 10px;
}
.label-back {    
    background-color :rgb(224, 224, 224);   
    width:100%;
}
.grid_system div[class^="col"] {
    border-top: 1px solid var(--DR-BORDER-COLOR);
    border-right:1px solid var(--DR-BORDER-COLOR);
    text-align: center;
    padding: 0px;
}
.grid_system_no_border div[class^="col"] {

    text-align: left;
    padding: 0px;
}
.grid_system_container {
    border-left:1px solid var(--DR-BORDER-COLOR);
    border-right: 1px solid var(--DR-BORDER-COLOR);
    border-bottom:1px solid var(--DR-BORDER-COLOR);
}
.grid_system_no_border {
    width: 100%;
    border: 0px;
    padding: 0px;
}
.top_row  {
    border-top: 0px solid var(--DR-BORDER-COLOR);
    border-left: 0px solid var(--DR-BORDER-COLOR);
    border-right: 1px solid var(--DR-BORDER-COLOR);
    border-bottom: 1px solid var(--DR-BORDER-COLOR);
     /* background: solid white; #e4dcdc; */
     text-align: center;
    padding: 0px;
 }
 .mid_row {
     border-top: 0px solid var(--DR-BORDER-COLOR);
     border-left: 0px solid var(--DR-BORDER-COLOR);
     border-right: 1px solid var(--DR-BORDER-COLOR);
     border-bottom: 1px solid var(--DR-BORDER-COLOR);
     /* background: solid white; #e4dcdc; */
     text-align: center;
     padding: 0px;
     margin: 0px;
 }
.bottom_row {
    border-top: 0px solid var(--DR-BORDER-COLOR);
    border-left: 0px solid var(--DR-BORDER-COLOR);
    border-right: 1px solid var(--DR-BORDER-COLOR);
    border-bottom: 0px solid var(--DR-BORDER-COLOR);
    /* background: solid white; #e4dcdc; */
    text-align: center;
    padding:0px;    

}
.right_col {
    border-top: 0px solid var(--DR-BORDER-COLOR);
    border-left: 0px solid var(--DR-BORDER-COLOR);
    border-right: 0px solid var(--DR-BORDER-COLOR);
    border-bottom: 1px solid var(--DR-BORDER-COLOR);
    /* background: solid white; #e4dcdc; */
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
.left_col {
    border-top: 0px solid var(--DR-BORDER-COLOR);
    border-left: 0px solid var(--DR-BORDER-COLOR);
    border-right: 1px solid var(--DR-BORDER-COLOR);
    border-bottom: 0px solid var(--DR-BORDER-COLOR);
    /* background: solid white; #e4dcdc; */
    text-align: center;
    padding: 0px;
}
.new_col {
    border-top: 1px solid var(--DR-BORDER-COLOR);
    border-left: 0px solid var(--DR-BORDER-COLOR);
    border-right: 0px solid var(--DR-BORDER-COLOR);
    border-bottom: 0px solid var(--DR-BORDER-COLOR);
    /* background: solid white; #e4dcdc; */
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
}
test {
    border-bottom: 1px solid var(--BORDER-COLOR);
    border-spacing: 0px;
    width: "100%";
}
/* input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
    color: #fff;
    position: relative;
}

input[type="date"]::-webkit-datetime-edit-day-field {
    position: absolute !important;
    color: #000;
    padding: 2px;
    left: 4px;

}

input[type="date"]::-webkit-datetime-edit-month-field {
    position: absolute !important;
    border-left: 1px solid #8c8c8c;
    padding: 2px;
    color: #000;
    left: 26px;
}

input[type="date"]::-webkit-datetime-edit-year-field {
    position: absolute !important;
    border-left: 1px solid #8c8c8c;
    padding: 2px;
    color: #000;
    left: 56px;
} */